body {
    background-color:#202020;
}

.radiocontainer {
    background-color:#ffd100;
    border-radius: 10px;
    width:30vw;
    margin-left: 35vw;
    margin-right: 35vw;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin-left: 35%;*/
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;
    gap:5%;
}

.container {
    background-color:#333533;
    border-radius: 30px;
    padding: 50px;
    width:100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 6px 10px;
}

h2 {
    font-size: 1rem;
}
.movieinfo {
    background-color: rgba(228, 228, 228, 0.1);
    border-radius: 10px;
    padding: 5px;
    width: 350px;
    display:block;
}

.movieinfo:hover {
    background-color:#ffee32;
}





/*text block div*/
.textContainer {
    position: relative;
    padding: 0px;
    /*max-width: 800px;  Maximum width */
    /* margin: 0 auto;  Center it */
}

.movieimg {
    background-color: rgb(98, 255, 7);
    padding: 0px;
    width: 100%;
    height:auto;
}

/*text itself*/
.textInfo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top:0px;
    right: 10px;
    left: 10px;
    background-color:rgba(0,0,0,0.7);
    color: white;
    padding: 10px;
    border-radius: 9px;
}

.comInfo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top:10px;
    right: 10px;
    left: 10px;
    background-color:rgba(0,0,0,0.7);
    color: white;
    padding-top: 10px;;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 9px;
}

form {
    padding: 20px;
}

.radiobutton {
    padding:20px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  height: 10%;
  display: block;
}

input[type="radio"] {
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 100%;
  }


.hidden {
    display:none;
  }

  .combtn, .infobtn {
    width: 40%;
    margin:5%;
    display:inline-block;
  }